@charset "utf-8";

body {font-size:75%; min-width:1000px;font-family:Dotum,sans-serif; color:#474747; line-height:16px;margin:0 auto; text-align:center;}
body.main {background:#292929;}

a, a:link {color: #474747; text-decoration: none; cursor: pointer; }
a:visited {color: #474747;}
a:hover, a:active, a:focus {color:#E87F2B; text-decoration: none;}

/* Letter-spacing */
.ls0 {letter-spacing:0;}
.ls_s {letter-spacing:-0.05em;}
.ls_ss {letter-spacing:-0.3em;}

/* cursor:pointer */
.hand{cursor:pointer;}

/* dispaly */
.disblock {display:block;}
.disnone {display:none;}
.disinline {display:inline;}

/* align */
.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}

/* vertical align */
.vat {vertical-align:top;}
.vam {vertical-align:middle;}
.vab {vertical-align:bottom;}

/* font family */
.ff1 {font-family:dotum;}
.ff2 {font-family:gulim;}
.ff3 {font-family:verdana;}
.ff4 {font-family:tahoma;}
.ff5 {font-family:arial;}

/* font size */
.fs10 {font-size:10px;}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs13 {font-size:13px;}
.fs14 {font-size:14px;}
.fn { font-weight:normal;}
.bold {font-weight:bold;}
/* font color */
.orange {color:#f96f00;}
.black {color:#000000;}
.sky_blue {color:#009bc3;}
.blue {color:#0773c7;}
.gray {color:#C2C2C2;}
.gray2 {color:#9B9B9B;}
.jinred{color:#ad0f0f;}
.brown{color:#ba705a;}
.plum{color:#de116c;}
.pink{color:#f76e6e;}

/* Line */
.underline {text-decoration:underline;}


/* Tag(Paragraph) */
p { margin: 0; padding:0; border:0;}
p.em { color: #06c; margin: 0; padding: 0; }

/* Button */
.ct_bt01{height:20px; line-height:18px; padding-left:0px; padding-right:0px; padding-bottom:2px; font-size:0.92em; letter-spacing:-1px; color:#281E00; border:1px solid; border-color:#cdcdcd #909090 #909090 #cdcdcd; background-color:#f2f2f2; cursor:pointer;}
.ct_bt02{height:20px; line-height:18px; padding-left:0px; padding-right:0px; padding-bottom:2px; font-size:0.92em; letter-spacing:-1px; color:#FFFFFF; border:1px solid; border-color:#858585 #606060 #606060 #858585; background-color:#A2A2A2; cursor:pointer;}

/* Table */
table.table1{border-collapse:collapse;width:100%;color:#666;border-top:1px solid #f0f0f0;line-height:16px;border-bottom:1px solid #f0f0f0;}
table.table1 tbody th{padding:8px 0;border-bottom:1px solid #fff;text-align:center;font-weight:normal;background:#f5f5f5;vertical-align:top;}
table.table1 tbody th.bon{border:none;}
table.table1 tbody td{padding:8px 10px;text-align:left;border-bottom:1px solid #f0f0f0;vertical-align:middle;}
table.table1 tbody td input{vertical-align:middle;}
table.table1 tbody td select{height:20px;}
table.table1 .p1{padding:10px;line-height:16px;}

/* Table */
table.table2{width:560px;color:#666;border:1px solid #ddd;line-height:16px;border-bottom:1px solid #ddd;}
table.table2 tbody th{padding:8px 0;border-bottom:1px solid #ddd;text-align:center;font-weight:normal;background:#f5f5f5;vertical-align:top;}
table.table2 tbody th.bon{border:none;text-align:left;}
table.table2 tbody td{padding:8px 10px;text-align:left;border-bottom:1px solid #ddd;vertical-align:middle;}
table.table2 tbody td input{vertical-align:middle;}
table.table2 tbody td select{height:20px;}
table.table2 .p1{padding:10px;line-height:16px;}

/* Input */
.input_box{padding:2px 5px;background-color:#fff;border:1px solid #CDCDCD;font-size:12px;color:#666;}
.input_box2 {background-color:#FFFFFF;border:1px solid #CDCDCD;font-size:1em;height:15px;padding:3px 3px 0; width:120px;}
.login_input {background-color:#FFFFFF;border:1px solid #CDCDCD;font-size:1em;height:15px;padding:3px 3px 0; width:160px;}



/* Padding */
.pt0 {padding-top:0px;}
.pt1 {padding-top:1px;}
.pt2 {padding-top:2px;}
.pt3 {padding-top:3px;}
.pt4 {padding-top:4px;}
.pt5 {padding-top:5px;}
.pt_5 {padding-top:-5px;}
.pt6 {padding-top:6px;}
.pt7 {padding-top:7px;}
.pt8 {padding-top:8px;}
.pt9 {padding-top:9px;}
.pt10 {padding-top:10px;}
.pt11 {padding-top:11px;}
.pt12 {padding-top:12px;}
.pt13 {padding-top:13px;}
.pt14 {padding-top:14px;}
.pt15 {padding-top:15px;}
.pt16 {padding-top:16px;}
.pt17 {padding-top:17px;}
.pt18 {padding-top:18px;}
.pt19 {padding-top:19px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}


.pr0 {padding-right:0px;}
.pr1 {padding-right:1px;}
.pr2 {padding-right:2px;}
.pr3 {padding-right:3px;}
.pr4 {padding-right:4px;}
.pr5 {padding-right:5px;}
.pr6 {padding-right:6px;}
.pr7 {padding-right:7px;}
.pr8 {padding-right:8px;}
.pr9 {padding-right:9px;}
.pr10 {padding-right:10px;}
.pr20 {padding-right:20px;}

.pl0 {padding-left:0px;}
.pl1 {padding-left:1px;}
.pl2 {padding-left:2px;}
.pl3 {padding-left:3px;}
.pl4 {padding-left:4px;}
.pl5 {padding-left:5px;}
.pl6 {padding-left:6px;}
.pl7 {padding-left:7px;}
.pl8 {padding-left:8px;}
.pl9 {padding-left:9px;}
.pl10 {padding-left:10px;}
.pl11 {padding-left:11px;}
.pl12 {padding-left:12px;}
.pl13 {padding-left:13px;}
.pl14 {padding-left:14px;}
.pl15 {padding-left:15px;}
.pl16 {padding-left:16px;}
.pl17 {padding-left:17px;}
.pl18 {padding-left:18px;}
.pl19 {padding-left:19px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl31 {padding-left:31px;}
.pl32 {padding-left:32px;}
.pl33 {padding-left:33px;}
.pl34 {padding-left:34px;}
.pl35 {padding-left:35px;}
.pl36 {padding-left:36px;}
.pl37 {padding-left:37px;}
.pl38 {padding-left:38px;}
.pl39 {padding-left:39px;}
.pl40 {padding-left:40px;}
.pl50 {padding-left:50px;}

.pb0 {padding-bottom:0px;}
.pb1 {padding-bottom:1px;}
.pb2 {padding-bottom:2px;}
.pb3 {padding-bottom:3px;}
.pb4 {padding-bottom:4px;}
.pb5 {padding-bottom:5px;}
.pb6 {padding-bottom:6px;}
.pb7 {padding-bottom:7px;}
.pb8 {padding-bottom:8px;}
.pb9 {padding-bottom:9px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}


/* Margin */
.mt5 {margin-top:5px;}
.mt_5 {margin-top:-5px;}
.mt7 {margin-top:7px;}
.mt_8 {margin-top:-8px;}
.mt10 {margin-top:10px;}
.mt_10 {margin-top:-10px;}
.mt15 {margin-top:15px;}
.mt_15 {margin-top:-15px;}
.mt_20 {margin-top:-20px;}
.mt18 {margin-top:18px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt55 {margin-top:55px;}
.mt65 {margin-top:65px;}


.ml9 {margin-left:9px;}
.ml10 {margin-left:10px;}
.ml12 {margin-left:12px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml_10 {margin-left:-10px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left:35px;}
.ml40 {margin-left:40px;}
.ml45 {margin-left:45px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}
.ml110 {margin-left:110px;}
.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr40 {margin-right:40px;}
.mr50 {margin-right:50px;}
.mb5 {margin-bottom:5px;}
.mb_5 {margin-bottom:-5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}

.ft1 {font-size:1px;}
.ft6 {font-size:6px;}
.ft7 {font-size:7px;}
.ft8 {font-size:8px;}
.ft9 {font-size:9px;}

/* Width */
.w100 {width:100%;}


/* Etc */
.loading {display:none; position:absolute; left:400px; top:240px; border:2px solid #C6C6C6; background-color:#ffffff; padding:25px; text-align:center; vertical-align:middle; z-index:1000; font-weight:bold; color:#313131; line-height:140%;}
.loading span{color:#7D7D7D; letter-spacing:-1px; font-size:11px;}

div.popup {clear:both; position:relative; float:left; margin:0; padding:0;}
div.popup_right {float:right; padding-top:5px;}
div.popup_right ul li {float:left; font-size:0.9em; letter-spacing:-0.1em; padding-bottom:13px; }
div.popup_right ul li.button {float:left; font-size:1em; letter-spacing:-0.1em;}


/* ��ư */
.btn{overflow:hidden;clear:both;text-align:center;}
.btn li{display:inline;margin:0 1px;}